{% load static %}
<footer>
    <!-- Footer Start -->
<div class="container-fluid bg-dark text-white-50 footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h1 class="fw-bold text-primary mb-4">Laser<span class="text-white">Store</span></h1>
                <div class="d-flex pt-2">
                    <a class="btn btn-square me-1" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-square me-1" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square me-1" href="#"><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-square me-0" href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-light mb-4">Address</h5>
                <p><i class="fa fa-map-marker-alt me-3"></i>Laser<br>
                    Signal 30<br>
                    Al Masaediyah<br>
                    Abdul Azeez Bin Muzad Road<br>
                    Rafha<br>
                    Northern border</p>

            </div>
            <div class="col-lg-3 col-md-6">
                <p><i class="fa fa-phone-alt me-3"></i>+966 50 085 5570</p>
                <p><i class="fa fa-phone-alt me-3"></i>+966 56 218 5182</p>
                <p><i class="fa fa-envelope me-3"></i>info@example.com</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3468.229997894699!2d43.5183125!3d29.6260625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x156467b0e254516d%3A0x6fa103d0e32e23e!2z2YTZitiy2LEg2YTZhNin2KrYtdin2YTYp9iq!5e0!3m2!1sar!2ssa!4v1669999992770!5m2!1sar!2ssa" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
    <div class="container-fluid copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a href="#">Laser Store</a>, All Right Reserved.
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->

</footer>
